@model List<JobList>
@{
    ViewData["Title"] = "Find New Job";
}


<div class="form-row">
    <div class="col-6">
        <h4 class="text-info">Apply now!</h4>
    </div>
</div>


@{
    if (Model == null)
    {
        <p>Empty</p>
    }
    else
    {
        foreach (var job in Model)
        {

            <div>
                @job.JobDescription
            </div>

            }
        }
    }

    
