@{
    ViewData["Title"] = "Create";
}

    <br /><br />
          <div class="form-row">
              <div class="col-6">
                  <h4 class="text-info">Create New Advertisement!</h4>
              </div>
              <div class="col-6 text-right">
                  <a asp-action="Advertisement" class="btn btn-info">Back</a>
              </div>
          </div>


