@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is a privacy policy?
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body text-justify">
                A privacy policy is a document that states what personal data you collect from your users, why, and how you keep it private.

                The purpose of the privacy policy is to inform your users about how their data is being handled.

                Hence, the privacy policy should be accessible for your users and kept in a plain and readable language.

                Most countries have privacy laws requiring that websites collecting personal data have a proper privacy policy in place.

                Failure to comply can result in heavy fines and even prosecution. Are you based in the EU or providing services to EU citizens, you must have a GDPR compliant privacy policy on your domain.

                We will get into this in more detail below.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What is personal data?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body text-justify">
                Personal data is information that can identify an individual, either directly or when combined with other data.

                Names, e-mails, addresses, localization, IP-addresses, photos, and account information all are directly identifying data.

                Health information, income, religion and cultural profiles and the like is also personal data.

                Furthermore, and crucial in the present context, data on user behavior is also personal. Cookies can track and register individual users’ browsing activities, like what articles they scroll past and which ones they choose to click on.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Do I need a privacy policy for my website?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body text-justify">
                GDPR privacy policy
                With the enforcement of the GDPR and the EU ePrivacy regulation, a proper privacy policy is adamant for websites in the EU and websites that have EU-citizens amongst their users.

                There are specific requirements as to what must be included in a privacy policy in the GDPR. The EU calls this a "privacy notice", and their website (as linked to) explains how a GDPR privacy notice looks like.

                If you are in doubt about the use of cookies on your website, you can try and take an audit of your website here for free.

                The free audit scans five pages of your website and sends you a report of the cookies and online tracking on these pages, including information on their provenance, purpose and whether or not they are compliant.

                If you want a complete overview of the cookies and online tracking going on on all of your website, sign up to the Cookiebot solution.
            </div>
        </div>
    </div>
</div>