@model Company
@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<div class="form-row">
    <div class="col-6">
        <h4 class="text-info">Create New Company!</h4>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Companies" class="btn btn-info">Back</a>
    </div>
</div>
<br />

<form asp-controller="Company" enctype="multipart/form-data" asp-action="CreateCompany" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">BULSTAT</span>
        </div>
        <input type="text" class="form-" asp-for="BULSTAT" aria-label="Job Title" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> Name</span>
        </div>
        <input type="text" class="form-" asp-for="CompanyName" aria-label="Job Title" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="email" class="form-control" asp-for="CompanyEmail" aria-label="Job Position" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Telephone Number</span>
        </div>
        <input type="tel" class="form-control" style="width:auto" asp-for="CompanyTelephoneNumber" aria-label="Job Salary" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">City</span>
        </div>
        <input type="text" class="form-control" style="width:auto" asp-for="CompanyCity" aria-label="Job Salary" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Address</span>
        </div>
        <input type="text" class="form-control" style="width:auto" asp-for="CompanyAddress" aria-label="Job Salary" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ZIP Code</span>
        </div>
        <input type="text" class="form-control" style="width:auto" asp-for="CompanyZIPCode" aria-label="Job Salary" aria-describedby="basic-addon1" required>
    </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Logo</label>
            <input type="file" asp-for="CompanyLogo" class="form-control-file" id="exampleFormControlFile1">
        </div>



    <input class="btn btn-info" type="submit" value="Add" />
</form>
    <br />
<br />





 