@model JobList
@{
    ViewData["Title"] = "Create";
}

<br />
<br />
<div class="form-row">
    <div class="col-6">
        <h4 class="text-info">Create New Advertisement!</h4>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Advertisement" class="btn btn-info">Back</a>
    </div>
</div>
<br />

<form asp-controller="Advertisement" asp-action="Create" runat="server" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
        </div>
        <input type="text" class="form-control" asp-for="JobTitle" aria-label="Job Title" aria-describedby="basic-addon1">
        <span asp-validation-for="JobTitle" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Position</span>
        </div>
        <input type="text" class="form-control" asp-for="JobPosition" aria-label="Job Position" aria-describedby="basic-addon1">
        <span asp-validation-for="JobPosition" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Description</span>
        </div>
        <textarea class="form-control" asp-for="JobDescription"></textarea>

        <span asp-validation-for="JobDescription" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Salary</span>
        </div>
        <input type="number" class="form-control" style="width:auto" asp-for="JobSalary" aria-label="Job Salary" aria-describedby="basic-addon1">
        <span asp-validation-for="JobSalary" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="JobImage"  runat="server" aria-describedby="inputGroupFileAddon01"/>
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            <span asp-validation-for="JobImage" class="text-danger"></span>
        </div>
    </div>


    <input class="btn btn-info" type="submit"  value="Add" />
</form>


<br /><br />






